:host {
    display: block !important;
    animation: custom-dialog-enter 1s ease !important;
}
  
@keyframes custom-dialog-enter {
    from {
        transform: scale(0) rotate(360deg);
    }

    to {
        transform: none;
    }
}