<mat-card style="min-height: 350px;">
    <mat-card-content>
        <mat-form-field
        style="width: 100%; margin-bottom: 15px">
            <mat-label>Título</mat-label>
            <input
              matInput
              placeholder="Elaborar lista de compras"
              [formControl]="title"
              (blur)="updateErrorMessage('title')"
              required
            />
            @if (title.invalid) {
              <mat-error>{{titleErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field
        style="width: 100%; margin-bottom: 15px">
            <mat-label>Descrição</mat-label>
            <textarea
                matInput
                [formControl]="description"
                (blur)="updateErrorMessage('description')"
                required
                rows="4"
            ></textarea>
            @if (description.invalid) {
              <mat-error>{{descriptionErrorMessage()}}</mat-error>
            }
        </mat-form-field>
    </mat-card-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            mat-dialog-close
            cdkFocusRegionstart>
            <mat-icon>close</mat-icon> CANCELAR
        </button>
        <button mat-flat-button [disabled]="!title.valid || !description.valid" (click)="create()">
            <mat-icon>save</mat-icon> SALVAR
        </button>
    </mat-dialog-actions>
</mat-card>